@charset "UTF-8";
body {
  background-color: #E5E8E8;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  margin: 0 20%;
}
header {
  background:  url(svg/logo_web.svg) no-repeat center center;
  background-size: cover;
  background-clip: content-box;
  text-align: center;
  height: 20em;
  border-bottom: 2px solid #1A5276;
  max-width: 100%;
}
header p {
  text-align: center;
  color: #1A5276;
  font-family: 'Alata', sans-serif;
  font-size: 3em;
  letter-spacing: .5em;
  padding: 2em 1em 2em 1em;
}
p {
  padding-left: 10%;
  padding-right: 10%;
}
h2 {
  color: #1A5276;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  letter-spacing: .25em;
  border-top: 1px solid #c2d99c;
  border-bottom: none;
  border-left: 1px solid;
  border-right: none;
  padding: 1em 10em 1em 1em;
  margin-right: 12%;
  }
h3 {
  color: #1A5276;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
h4 {
  color: #1A5276;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  letter-spacing: .25em;
}
a {
  text-decoration: none;
}
a:link {
  color: #1A5276;
}
a:visited {
  color: gray;
}
a:focus {
  color: #c2d99c;
}
a:hover {
  color:#c2d99c;
}
a:active {
  color: #1A5276;
}
ul {
  list-style: square;
  color: #1A5276;
}
#skills, #software, #projects, #socialmedia{
  text-align: left;
  margin-left: 10%;
}
footer {
text-align: left;
}
